<h1>Listing developers</h1>
<h3><a href="/admin/menu">Administration Home Page</a></h3>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Year established</th>
    <th>About</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% @developers.each do |developer| %>
  <tr>
    <td><%=h developer.id %></td>
    <td><%=h developer.name %></td>
    <td><%=h developer.year_established %></td>
    <td><%=h developer.about %></td>
    <td><%=h developer.created_at %></td>
    <td><%=h developer.updated_at %></td>
    <td class="show" ><%= link_to 'Show', developer %></td>
    <td class="edit"><%= link_to 'Edit', edit_developer_path(developer) %></td>
    <td class="destroy"><%= link_to 'Destroy', developer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New developer', new_developer_path %>