<h1>Listing editions</h1>
<h3><a href="/admin/menu">Administration Home Page</a></h3>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% @editions.each do |edition| %>
  <tr>
    <td><%=h edition.id %></td>
    <td><%=h edition.name %></td>
    <td><%=h edition.created_at %></td>
    <td><%=h edition.updated_at %></td>
    <td><%= link_to 'Show', edition %></td>
    <td><%= link_to 'Edit', edit_edition_path(edition) %></td>
    <td><%= link_to 'Destroy', edition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New edition', new_edition_path %>