<h1>Listing orders</h1>
<h3><a href="/admin/menu">Administration Home Page</a></h3>

<table>
  <tr>
    <th>Id</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Invoice number</th>
    <th>Customer</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.id %></td>
    <td><%=h order.created_at %></td>
    <td><%=h order.updated_at %></td>
    <td><%=h order.invoice_number %></td>
    <td><%=h order.customer_id %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_path %>